.footer-wrapper{
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
}
.footer-container{
    width: calc(100% - 200px);
    padding: 50px 100px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.footer-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.footer-description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    width: 35%;
}
.footer-heading{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.footer-logo{
    width: 64px;
    height: 64px;
}
.footer-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}
.footer-title{
    font-size: 36px;
    color: #f1c40f;
    font-weight: 600;
}
.footer-slogan{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    text-wrap: wrap;
}
.footer-download-links{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}
.ios-download-link img{
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.ios-download-link img:hover{
    transform: scale(1.1);
}
.android-download-link img{
    width: 150px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.android-download-link img:hover{
    transform: scale(1.1);
}
.footer-quick-links{
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.quick-links-title{
    font-size: 20px;
    color: #f1c40f;
    font-weight: 400;
}
.quick-links{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    cursor: pointer;
}
.footer-subscribe{
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.subscribe-title{
    font-size: 20px;
    color: #f1c40f;
    font-weight: 400;
}
.subscribe-form{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.subscribe-form input[type="email"]{
    width: 250px;
    padding: 15px 20px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.1);
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}
.subscribe-form input[type="email"]::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}
.subscribe-form button{
    width: max-content;
    padding: 15px 20px;
    border: 1px solid #f1c40f;
    background-color: transparent;
    color: #f1c40f;
    font-size: 15px;
    cursor: pointer;
}
.subscribe-form button:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.subscribe-social{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}
.subscribe-social-title{
    font-size: 20px;
    color: #f1c40f;
    font-weight: 400;
}
.social-links-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.social-icon{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.social-icon i{
    font-size: 30px;
    color: #f1c40f;
}
.social-icon i:hover{
    color: rgba(255, 255, 255, 0.9);
}
.footer-footer{
    width: 100%;
    display: flex;
    padding: 20px 0px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.footer-copyright, .footer-privacy, .footer-terms{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 200;
    cursor: pointer;
    padding: 0px 20px;
}
.footer-copyright button, .footer-privacy button, .footer-terms button{
    background-color: transparent;
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
    text-decoration: underline;
}
.footer-copyright button:hover, .footer-privacy button:hover, .footer-terms button:hover{
    color: #f1c40f;
}
@media screen and (max-width: 1200px){
    .footer-container{
        width: calc(100% - 100px);
        padding: 50px 50px 0px 50px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .footer-header{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 20px;
    }
    .footer-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }
    .footer-quick-links{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
        gap: 10px;
    }
    .footer-subscribe{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
}
@media screen and (max-width: 878px){
    .footer-copyright, .footer-privacy, .footer-terms{
        font-size: 12px;
    }
    .footer-copyright button, .footer-privacy button, .footer-terms button{
        font-size: 12px;
        padding: 0px 10px;
    }
}
@media screen and (max-width: 600px){
    .footer-container{
        width: calc(100% - 20px);
        padding: 50px 10px 0px 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    .footer-description{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
    }
    .footer-quick-links{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap: 10px;
    }
    .footer-subscribe{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .footer-copyright, .footer-privacy, .footer-terms{
        font-size: 12px;
    }
    .footer-copyright button, .footer-privacy button, .footer-terms button{
        font-size: 12px;
        padding: 0px;
    }
    .subscribe-form input[type="email"]{
        width: 200px;
        padding: 10px 15px;
        font-size: 12px;
    }
    .subscribe-form button{
        padding: 10px 15px;
        font-size: 12px;
    }
}
