@keyframes move-down {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(8px);
    }
    100%{
        transform: translateY(0px);
    }
}
.main-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}
.event-booster-wrapper{
    width: calc(100% - 100px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
}
.event-booster-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}
.event-booster-inner-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.event-booster-title{
    width: 100%;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    text-wrap: wrap;
}
.event-booster-title span{
    color: #f1c40f;
    font-weight: 400;
}
.event-booster-description{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}
.vertical-thick-line{
    width: 8px;
    height: 64px;
    background-color: rgba(255, 255, 255, 0.8);
}
.event-booster-sub-description{
    width: calc(100% - 10px);
    font-size: 64px;
    color: #f1c40f;
    font-weight: 400;
    text-wrap: wrap;
}
.event-booster-brief{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    margin-top: 50px;
}
.event-booster-brief-title{
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    font-weight: 200;
    text-wrap: wrap;
}
.event-booster-brief-title span{
    color: #f1c40f;
    font-weight: 400;
}
.event-booster-brief-description{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
    text-wrap: wrap;
    gap: 8px;
}
.event-booster-brief-description span{
    color: #f1c40f;
    font-weight: 200;
    font-size: 20px;
}
.event-corporate-sponser-shortcut{
    width: max-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}
.event-corporate-sponser-shortcut-title{
    font-size: 20px;
    color: #f1c40f;
    font-weight: 400;
    text-transform: uppercase;
    text-wrap: wrap;
}
.event-corporate-sponser-shortcut-icon{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.event-corporate-sponser-shortcut-icon i{
    font-size: 50px;
    color: #f1c40f;
    animation: move-down 2s ease-in-out infinite;
}
.event-booster-registeration-form{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.event-booster-registeration-form form{
    width: calc(100% - 100px);
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
}
.event-booster-registeration-form .form-title{
    width: 100%;
    font-size: 24px;
    color: #f1c40f;
    font-weight: 400;
    text-wrap: wrap;
}
.event-booster-registeration-form input[type="text"]{
    width: calc(100% - 40px);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}
.event-booster-registeration-form input[type="text"]::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}
.event-booster-registeration-form .date-time{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.event-booster-registeration-form input[type="date"]{
    width: calc(50% - 40px);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}
.event-booster-registeration-form input[type="date"]::placeholder{
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}
.event-booster-registeration-form .date-time input[type="text"]{
    width: calc(50% - 40px);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.8);
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}
.event-booster-registeration-form button{
    width: max-content;
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid #f1c40f;
    color: #f1c40f;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 8px;
}
.event-booster-registeration-form button:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
}
.event-booster-registeration-form input:focus{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.9);
}
.event-booster-registeration-form input:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.9);
}
.event-booster-registeration-form input:hover::placeholder{
    color: rgba(0, 0, 0, 0.9);
}
.event-booster-registeration-form input:focus::placeholder{
    color: rgba(0, 0, 0, 0.9);
}
.event-booster-registeration-form .date-time input[type="text"]:focus{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.9);
}
.event-booster-registeration-form .date-time input[type="text"]:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.9);
}
.event-booster-registeration-form .date-time input[type="text"]:hover::placeholder{
    color: rgba(0, 0, 0, 0.9);
}
.event-booster-registeration-form .date-time input[type="text"]:focus::placeholder{
    color: rgba(0, 0, 0, 0.9);
}
.event-booster-benefits-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.event-booster-benefits-container{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}
.event-booster-benefits-title{
    width: 20%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-weight: 400;
}
.event-booster-benefits-title span{
    color: #f1c40f;
    font-size: 30px;
    font-weight: 600;
}
.event-booster-benefits-description{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.event-booster-benefits{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.event-booster-benefit{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.event-booster-benefit-icon{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c40f;
    border-radius: 50%;
}
.event-booster-benefit-icon i{
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
}
.event-booster-benefit-description{
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    font-weight: 200;
    gap: 8px;
}
.event-booster-benefit-description span{
    font-size: 18px;
    color: #f1c40f;
    font-weight: 400;
    text-transform: uppercase;
}
.event-booster-benefit-description em span{
    font-size: 15px;
    color: #f1c40f;
}
.event-booster-requirements-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.event-booster-requirements-container{
    width: 100%;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 50px;
}
.event-booster-requirements-title{
    width: 20%;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.9);
    text-transform: uppercase;
    font-weight: 400;
}
.event-booster-requirements-title span{
    color: #f1c40f;
    font-size: 30px;
    font-weight: 600;
}
.event-booster-requirements-description{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.event-booster-requirements{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}
.event-booster-requirement{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}
.event-booster-requirement-icon{
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1c40f;
    border-radius: 50%;
}
.event-booster-requirement-icon i{
    color: rgba(0, 0, 0, 0.9);
    font-size: 20px;
}
.event-booster-requirement-description{
    width: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
    font-weight: 200;
    gap: 8px;
}
.event-booster-requirement-description span{
    font-size: 18px;
    color: #f1c40f;
    font-weight: 400;
    text-transform: uppercase;
}
.event-booster-requirement-description em span{
    font-size: 15px;
    color: #f1c40f;
}
.event-booster-sponser-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.event-booster-sponser-container{
    width: 100%;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.event-booster-sponser-title{
    width: 100%;
    font-size: 18px;
    color: #f1c40f;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    text-wrap: wrap;
}
.event-booster-sponser-description{
    width: 100%;
    text-align: center;
    text-wrap: wrap;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 200;
}
.event-booster-sponser-description span{
    color: #f1c40f;
    font-weight: 400;
    text-transform: uppercase;
    text-wrap: wrap;
}
.event-booster-sponser-btn{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
}
.event-booster-sponser-btn button{
    width: max-content;
    padding: 15px 25px;
    background-color: transparent;
    border: 1px solid #f1c40f;
    color: #f1c40f;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
}
.event-booster-sponser-btn button:hover{
    background-color: rgba(255, 255, 255, 0.8);
    color: rgba(0, 0, 0, 0.8);
    border: 1px solid rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 1100px) {
    .event-booster-wrapper{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
    }
    .event-booster-container{
        width: calc(100% - 20px);
        padding: 50px 10px 50px 10px;
        gap: 50px;
    }
    .event-booster-title{
        width: 100%;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 200;
        text-wrap: wrap;
    }
    .event-booster-title span{
        color: #f1c40f;
        font-weight: 400;
    }
    .event-booster-description{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }
    .vertical-thick-line{
        width: 6px;
        height: 48px;
        background-color: rgba(255, 255, 255, 0.8);
    }
    .event-booster-sub-description{
        width: calc(100% - 10px);
        font-size: 48px;
        color: #f1c40f;
        font-weight: 400;
        text-wrap: wrap;
    }
    .event-booster-brief{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
        margin-top: 50px;
    }
    .event-booster-brief-title{
        font-size: 15px;
        color: rgba(255, 255, 255, 0.9);
        font-weight: 200;
        text-wrap: wrap;
    }
    .event-booster-brief-title span{
        color: #f1c40f;
        font-weight: 400;
    }
    .event-booster-brief-description{
        font-size: 13px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 200;
        text-wrap: wrap;
        gap: 8px;
    }
    .event-booster-brief-description span{
        color: #f1c40f;
        font-weight: 200;
        font-size: 20px;
    }
    .event-corporate-sponser-shortcut{
        width: max-content;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        cursor: pointer;
    }
    .event-corporate-sponser-shortcut-title{
        font-size: 18px;
        color: #f1c40f;
        font-weight: 400;
        text-transform: uppercase;
        text-wrap: wrap;
    }
    .event-corporate-sponser-shortcut-icon{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .event-corporate-sponser-shortcut-icon i{
        font-size: 25px;
        color: #f1c40f;
        animation: move-down 2s ease-in-out infinite;
    }
    .event-booster-registeration-form{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 50px 0px;
    }
    .event-booster-registeration-form form{
        width: 100%;
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: 1px solid rgba(255, 255, 255, 0.8);
        border-radius: 4px;
        background: rgba(255, 255, 255, 0.1);
    }
    .event-booster-registeration-form .form-title{
        width: 100%;
        font-size: 18px;
        color: #f1c40f;
        font-weight: 400;
        text-wrap: wrap;
    }
    .event-booster-registeration-form input[type="text"]{
        width: calc(100% - 40px);
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.8);
        color: rgba(255, 255, 255, 0.8);
        font-size: 13px;
    }
    .event-booster-registeration-form input[type="text"]::placeholder{
        color: rgba(255, 255, 255, 0.6);
        font-size: 13px;
    }
    .event-booster-registeration-form .date-time{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }
    .event-booster-registeration-form input[type="date"]{
        width: calc(50% - 40px);
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.8);
        color: rgba(255, 255, 255, 0.8);
        font-size: 13px;
    }
    .event-booster-registeration-form input[type="date"]::placeholder{
        color: rgba(255, 255, 255, 0.6);
        font-size: 13px;
    }
    .event-booster-registeration-form .date-time input[type="text"]{
        width: calc(50% - 40px);
        padding: 10px 20px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.8);
        color: rgba(255, 255, 255, 0.8);
        font-size: 13px;
    }
    .event-booster-registeration-form button{
        width: max-content;
        padding: 15px 25px;
        background-color: transparent;
        border: 1px solid #f1c40f;
        color: #f1c40f;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
        margin-top: 8px;
    }
    .event-booster-registeration-form button:hover{
        background-color: rgba(255, 255, 255, 0.8);
        color: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.8);
    }
    .event-booster-registeration-form input:focus{
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.9);
    }
    .event-booster-registeration-form input:hover{
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.9);
    }
    .event-booster-registeration-form input:hover::placeholder{
        color: rgba(0, 0, 0, 0.9);
    }
    .event-booster-registeration-form input:focus::placeholder{
        color: rgba(0, 0, 0, 0.9);
    }
    .event-booster-registeration-form .date-time input[type="text"]:focus{
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.9);
    }
    .event-booster-registeration-form .date-time input[type="text"]:hover{
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(0, 0, 0, 0.9);
    }
    .event-booster-registeration-form .date-time input[type="text"]:hover::placeholder{
        color: rgba(0, 0, 0, 0.9);
    }
    .event-booster-registeration-form .date-time input[type="text"]:focus::placeholder{
        color: rgba(0, 0, 0, 0.9);
    }
    .event-booster-benefits-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .event-booster-benefits-container{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;
    }
    .event-booster-benefits-title{
        width: 100%;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.9);
        text-transform: uppercase;
        font-weight: 400;
    }
    .event-booster-benefits-title span{
        color: #f1c40f;
        font-size: 27px;
        font-weight: 600;
    }
    .event-booster-benefits-description{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    .event-booster-benefits{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    .event-booster-benefit{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
    .event-booster-benefit-icon{
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1c40f;
        border-radius: 50%;
    }
    .event-booster-benefit-icon i{
        color: rgba(0, 0, 0, 0.9);
        font-size: 18px;
    }
    .event-booster-benefit-description{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: rgba(255, 255, 255, 0.6);
        font-size: 13px;
        font-weight: 200;
        gap: 8px;
    }
    .event-booster-benefit-description span{
        font-size: 15px;
        color: #f1c40f;
        font-weight: 400;
        text-transform: uppercase;
    }
    .event-booster-benefit-description em span{
        font-size: 13px;
        color: #f1c40f;
    }
    .event-booster-requirements-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .event-booster-requirements-container{
        width: 100%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        gap: 50px;
    }
    .event-booster-requirements-title{
        width: 100%;
        font-size: 18px;
        color: rgba(255, 255, 255, 0.9);
        text-transform: uppercase;
        font-weight: 400;
    }
    .event-booster-requirements-title span{
        color: #f1c40f;
        font-size: 27px;
        font-weight: 600;
    }
    .event-booster-requirements-description{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    .event-booster-requirements{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 20px;
    }
    .event-booster-requirement{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
    }
    .event-booster-requirement-icon{
        width: 23px;
        height: 23px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #f1c40f;
        border-radius: 50%;
    }
    .event-booster-requirement-icon i{
        color: rgba(0, 0, 0, 0.9);
        font-size: 18px;
    }
    .event-booster-requirement-description{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: rgba(255, 255, 255, 0.6);
        font-size: 13px;
        font-weight: 200;
        gap: 8px;
    }
    .event-booster-requirement-description span{
        font-size: 15px;
        color: #f1c40f;
        font-weight: 400;
        text-transform: uppercase;
    }
    .event-booster-requirement-description em span{
        font-size: 13px;
        color: #f1c40f;
    }
    .event-booster-sponser-wrapper{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .event-booster-sponser-container{
        width: 100%;
        padding: 50px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    .event-booster-sponser-title{
        width: 100%;
        font-size: 27px;
        color: #f1c40f;
        text-transform: uppercase;
        font-weight: 600;
        text-align: center;
        text-wrap: wrap;
    }
    .event-booster-sponser-description{
        width: 100%;
        text-align: center;
        text-wrap: wrap;
        font-size: 13px;
        color: rgba(255, 255, 255, 0.7);
        font-weight: 200;
    }
    .event-booster-sponser-description span{
        color: #f1c40f;
        font-weight: 400;
        text-transform: uppercase;
        text-wrap: wrap;
    }
    .event-booster-sponser-btn{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px;
    }
    .event-booster-sponser-btn button{
        width: max-content;
        padding: 15px 25px;
        background-color: transparent;
        border: 1px solid #f1c40f;
        color: #f1c40f;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        cursor: pointer;
    }
    .event-booster-sponser-btn button:hover{
        background-color: rgba(255, 255, 255, 0.8);
        color: rgba(0, 0, 0, 0.8);
        border: 1px solid rgba(255, 255, 255, 0.8);
    }
}